{% if evenements %}

    <div class="evenements">
        {% for evenement in evenements %}
            <div class="evenement">
                <div class="evenementTitre">
                    <h3><a href="{{ path('client_evenement_view',{'slug': evenement.slug, 'id': evenement.id})}}">{{ evenement.titre|truncate(30) }}</a></h3>
                </div>

                {% if evenement.image %}
                    <div class="evenementImage">
                        <img src="{{ asset('img/evenement/miniature/' ~ evenement.image) }}">
                    </div>
                {% endif %}

                <div class="evenementDate">
                    <p>{{ 'evenement.client.label.datedu'|trans ~' '~ evenement.debut|date("d/m/Y à H:i") ~' '~ 'evenement.client.label.dateau'|trans ~' '~ evenement.fin|date("d/m/Y à H:i") }}</p>
                </div>

                <div class="evenementResume">
                    <p>{{ evenement.resume|truncate(120) }}</p>
                </div>

                <div class="evenementLien">
                    <a href="{{ path('client_evenement_view',{'slug': evenement.slug, 'id': evenement.id})}}"><i class="fa fa-angle-right"></i> {{ 'evenement.client.link.plus'|trans }}</a>
                </div>
            </div>
        {% endfor %}
    </div>

{% else %}
    <p>{{ 'evenements.client.validators.empty'|trans }}</p>
{% endif %}

<div class="clear"></div>
